/*
Theme Name: Bell's books
Theme URI: http://bellbooks.com
Author: Ygor Gonçalves
Author URI: http://ygorgonc.com.br/
Description: Tema criado para a livraria da bellary
Version: 1.0
*/


/* ==========================================================================
   Reset
   ========================================================================== */

header {
	background-color: #352A1C;
	max-width: 1440px;
	width: 100%;
	height: 115px;
	display: flex;
	justify-content: center;
}

header h1{
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 3em;
	color: #BADFDA;
	text-align: center;
	margin: auto 0;
	padding-right: 200px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}
header nav {
	font-family: 'Overlock SC', cursive;
	margin: auto 0;	
}

header nav ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}


header nav ul a:link, a:visited {
	text-decoration: none;
	color: #E5E5E5;
	padding: 4px 25px;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#doar{
	background-color: #BADFDA;
	color: black;
	border: 2px solid rgba(98, 154, 157, 0.5);
	box-sizing: border-box;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footercopright{
	background: rgba(98, 154, 157, 0.8);
	text-align: center;
	margin: 0;
	font-family: Overlock;
	font-size: 0.7em;
}

#footerinfo{
	background-color: #352A1C;
	display: flex;
	justify-content: space-around;
}

#footerlateral{
	margin: auto 0 ;
	}

footer {
	max-width: 1440px;
	width: 100%	;
	height: 152.64px;
	background-color: #352A1C;
	color: #BADFDA;
}

footer nav {
	font-family: Overlock SC;
	margin: auto 0 ;
	flex-direction: column;

}

footer nav ul{
	list-style-type: none;
	display: flex;
}

footer nav ul a:link, a:visited {
	text-decoration: none;
	padding: 4px 18px;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	color: #BADFDA;
}

body{
	background-color: #EEF8F6;

}

/*----------------------pagina artes-------------------------------------------------------------*/

.sec_artes {
	background-color: #EEF8F6;
	height: 1320px;
	flex-direction: column;
	text-align: center;
}

.sec_artes h2 {
	font-family: 'UnifrakturCook', cursive;
	margin: 15px 0;
	background-color: #EEF8F6 ;
}

.artes {

	margin: auto 0;
	max-width: 1340px;
	width: 100%;
	max-height: 900px;
	height: 100%;
	display: flex;
	justify-content: center;

}

.artes ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;

}

.artes ul li {
	margin: 8px;

}